{% extends "base_landing.html" %}
{% load webpack_loader static %}
{% load markdown_extras %}

{% block meta %}
<title>{{ blog_post.title }} | Staleaway Blog</title>
<meta name="description" content="{{ blog_post.description }}" />
<meta name="keywords" content="{{ blog_post.tags }}" />
<meta name="robots" content="index, follow" />
<link rel="canonical" href="{{ site_url }}{{ blog_post.get_absolute_url }}" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ blog_post.title }}" />
<meta property="og:url" content="{{ site_url }}{{ blog_post.get_absolute_url }}" />
<meta property="og:description" content="{{ blog_post.description }}" />
{% if blog_post.image %}
<meta property="og:image" content="{{ blog_post.image.url }}" />
{% else %}
<meta property="og:image" content="{{ site_url }}{% static 'vendors/images/logo.png' %}" />
{% endif %}
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@rasulkireev" />
<meta name="twitter:site" content="@rasulkireev" />
<meta name="twitter:title" content="{{ blog_post.title }}" />
<meta name="twitter:description" content="{{ blog_post.description }}" />
{% if blog_post.image %}
<meta name="twitter:image" content="{{ blog_post.image.url }}" />
{% else %}
<meta name="twitter:image" content="{{ site_url }}{% static 'vendors/images/logo.png' %}" />
{% endif %}
{% endblock meta %}

{% block content %}
<article class="container px-4 py-8 mx-auto md:relative">
  <div class="mx-auto max-w-3xl">
    <h1 class="mb-6 text-3xl font-bold">{{ blog_post.title }}</h1>

    <div class="max-w-none prose prose-lg">
      {{ blog_post.content|markdown|safe }}
    </div>
  </div>
</article>
{% endblock content %}

{% block schema %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ blog_post.title|escapejs }}",
    "description": "{{ blog_post.description|escapejs }}",
    {% if blog_post.image %}"image": "{{ blog_post.image.url|escapejs }}",{% endif %}
    "url": "{{ site_url|escapejs }}{{ blog_post.get_absolute_url }}",
    "datePublished": "{{ blog_post.created_at|date:'c' }}",
    "dateModified": "{{ blog_post.updated_at|date:'c' }}",
    "author": {
      "@type": "Person",
      "name": "Rasul Kireev",
      "url": "https://rasulkireev.com/"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Staleaway",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site_url|escapejs }}{% static 'vendors/images/logo.png' %}"
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site_url|escapejs }}{{ blog_post.get_absolute_url }}"
    }
  }
</script>
{% endblock schema %}
